body{
    background-color: #F5F5F5;
}

.navbar{
    background-color: white;
    height: 60px;
}

.navbar-accueil{
    margin-left: 87%;
}

#title{
    position: absolute;
}

.card {
    text-align: center;
    margin: auto;
    size: auto;
    margin-top: 30px;
    height: 650px;
}


footer{
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
}

select{
    border: white;
}