<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Dashboard total</title>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link href= "../../../view/assets/css/dashboard_total.css" rel="stylesheet">
    </head>
    <body>
	<div class="navbar">
		<img src="../../../view/assets/image/worldPopulation.png" id="title">
		<div class="navbar-links">
			<a href="../../../view/index.html">Accueil</a>
			<select name="liste-dashboard" onChange="location.href=''+this.options[this.selectedIndex].value+'.html';">
				<option>Tableau de bord</option>
				<option value="../deces/dashboard_deces_amerique">Décès</option>
				<option value="../naissance/dashboard_naissance_amerique">Naissance</option>
				<option value="dashboard_total_amerique">Total</option>   
			</select>
		</div>
	</div>

		<div class="card cardfiltre" style="width: 10rem;">
			<div class="card-body">
				<img src="../../../view/assets/image/filtre.png" id="filtre">
				<select name="liste-continent">
                    <option value="./dashboard_total.html">Mondial</option>
                    <option value="./dashboard_total_afrique.html">Afrique</option>
                    <option value="./dashboard_total_amerique.html">Amérique</option>
                    <option value="./dashboard_total_asie.html">Asie</option>
                    <option value="./dashboard_total_europe.html">Europe</option>
                    <option value="./dashboard_total_oceanie.html">Océanie</option>
				</select>
			</div>
		</div>

		

		<div class="container">
            <div class="row">
				<div class="KPI">
					<div class="card cardKPI" style="width: 18rem;">
						<div class="card-body">
							<p class="card-title">Nombre total de naissance</p>
							<h3 class="card-title" id="KPI-Total-Naissances"></h3>
						</div>
					</div>
		
					<div class="card cardKPI" style="width: 18rem;">
						<div class="card-body">
							<p class="card-title">Nombre total de décès</p>
							<h3 class="card-title" id="KPI-Total-Deces"></h3>
						</div>
					</div>
		
					<div class="card cardKPI" style="width: 18rem;">
						<div class="card-body">
							<p class="card-title">Solde naturel</p>
							<h3 class="card-title" id="KPI-Solde-Naturel"></h3>
						</div>
					</div>
				</div>
                <div class="col-5 d-flex align-items-center">
                    <div class="card-body">
                        <p class="card-title1">Distribution du solde naturel par pays</p>
                        <canvas id="map" class="w-100"></canvas>
                    </div>
                </div>
                <div class="col-7 box">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 linechart top-chart">
                                <canvas class="w-100" id="linechart"></canvas>
                            </div>
                        </div>
                            <div class="col-12 barplot">
                                <canvas class="w-100" id="barplot"></canvas>
                            </div>
                        </div>
                    </div>
                </div>                                                           
            </div>
        </div>

		<footer>
			<p>Elias AIT HASSOU - Nabil AOUDIA - Wissam BELKAID</p>
		</footer>

		<!-- Scripts permettant la connexion à supabase et l'extraction de données -->
		<script src=" https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2.38.4/dist/umd/supabase.min.js"></script>
		<script src="../../../model/connect.js"></script>
		<script src="../../../model/births.js"></script>
		<script src="../../../model/deaths.js"></script>

		<!-- Scripts permettant d'intégrer Bootstrap et NodeJS -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

		<!-- Script permettant d'afficher les graphiques et la map-->
		<script src="../../../controller/total/dashboard_total_amerique.js"></script>
		<script type="text/javascript" src="https://unpkg.com/chartjs-chart-geo@3.5.2/build/index.umd.min.js"></script>
		<script src="../../../controller/total/dashboard_total_map.js"></script>

    </body>
</html>